.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Binary Tree Styles*/

.outer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
}
.inner {
  width: 100%;
}
.node {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  border: 1px solid black;
  border-radius: 25px;
  font-size: xx-large;
  font-weight: bold;
  padding: 3px;
}
.plusWrap {
  width: 48px;
  height: 48px;
  display: inline-block;
  margin: auto;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}
.plus {
  display: inline-block;
  vertical-align: auto;
  font-size: xx-large;
  font-weight: bold;
}
